<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Ruby on Rails 教程 (04)</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../reveal.js-3.0.0/css/reveal.css">
    <link rel="stylesheet" href="../reveal.js-3.0.0/css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../reveal.js-3.0.0/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../reveal.js-3.0.0/css/print/pdf.css' : '../reveal.js-3.0.0/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="../reveal.js-3.0.0/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Ruby on Rails 教程 (04)</h1>
        </section>

        <section>
          <h2>演示应用首页的构思图</h2>

        </section>

        <section>
          <h2>网站导航</h2>
          <ul>
            <li><a href="04-application.html.erb.txt" target="_blank">app/views/layouts/application.html.erb</a></li>
            <li><a href="04-application_helper.rb.txt" target="_blank">app/helpers/application_helper.rb</a></li>
          </ul>
        </section>

        <section>
          <h2>修改首页</h2>
          <ul>
            <li><a href="04-home.html.erb.txt" target="_blank">app/views/static_pages/home.html.erb</a></li>
            <li>image_tag 方法</li>
          </ul>
        </section>

        <section>
          <h2>添加Bootstrap</h2>
<pre><code class="ruby language-ruby">
source 'https://ruby.taobao.org'
gem 'bootstrap-sass'
</code></pre>
<pre><code>
bundle install
touch app/assets/stylesheets/custom.css.scss
</code></pre>
        </section>

        <section>
          <h2>修改CSS</h2>
          <pre><code class="css language-css">
@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
          </code></pre>
        </section>

        <section>
          <h2>更多的CSS 1</h2>
<pre><code class="css language-css">
/* typography */
h1, h2, h3, h4, h5, h6 { line-height: 1;}
h1 { font-size: 3em; letter-spacing: -2px; margin-bottom: 30px; text-align: center; }
h2 { font-size: 1.2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: #777; }
p  { font-size: 1.1em; line-height: 1.7em; }
</code></pre>
        </section>

        <section>
          <h2>更多的CSS 2</h2>
<pre><code class="css language-css">
/* header */
#logo {
  float: left;
  margin-right: 10px; font-size: 1.7em;
  color: #fff; text-transform: uppercase; letter-spacing: -1px; padding-top: 9px; font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
</code></pre>
        </section>

        <section>
          <h2>局部视图</h2>
<pre><code class="erb language-erb">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;&lt;%= full_title(yield(:title)) %&gt;&lt;/title&gt;
&lt;%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =&gt; true %&gt;
&lt;%= javascript_include_tag 'application', 'data-turbolinks-track' =&gt; true %&gt;
&lt;%= csrf_meta_tags %&gt;
&lt;%= render 'layouts/shim' %&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;%= render 'layouts/header' %&gt;
&lt;div class="container"&gt;
  &lt;%= yield %&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>添加底部导航局部视图（render '<a href="04-footer.html.erb.txt" target="_blank">layouts/footer</a>'）</p>
        </section>

        <section>
          <h2>底部样式</h2>
          <pre><code class="css language-css">
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea; color: #777;
}
footer a { color: #555;}
footer a:hover { color: #222; }
footer small { float: left; }
footer ul { float: right; list-style: none; }
footer ul li { float: left; margin-left: 15px; }
          </code></pre>
        </section>

        <section>
          <h2>Asset Pipeline</h2>
          <ul>
            <li>静态资源文件夹</li>
            <li>清单文件</li>
            <li>预处理器引擎</li>
          </ul>
        </section>

        <section>
          <h2>SASS 嵌套</h2>
<pre><code class="css language-css">
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  &amp;:hover {
    color: #fff;
    text-decoration: none;
  }
}
</code></pre>
        </section>

        <section>
          <h2>SASS 变量</h2>
          <pre><code class="css language-css">
$light-gray: #777;
h2 {
  color: $light-gray;
}
footer {
  color: $light-gray;
}

          </code></pre>
        </section>

        <section>
          <h2>修改布局中的链接</h2>
<pre><code class="ruby language-ruby">
<%= link_to "About", '#' %>
<%= link_to "About", about_path %>
</code></pre>
<pre class="fragment"><code class="ruby language-ruby">
Rails.application.routes.draw do
  root 'static_pages#home'
  get 'help' =&gt; 'static_pages#help'
  get 'about' =&gt; 'static_pages#about'
  get 'contact' =&gt; 'static_pages#contact'
end
</code></pre>
        </section>

        <section>
          <h2>课后练习</h2>
          <ul>
            <li>按本课程做一次</li>
          </ul>
        </section>

        <section>
          <h2>Q & A</h2>
          <p><a href="05.html">下一课</a></p>
        </section>
      </div>
    </div>

    <script src="../reveal.js-3.0.0/lib/js/head.min.js"></script>
    <script src="../reveal.js-3.0.0/js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: '../reveal.js-3.0.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '../reveal.js-3.0.0/plugin/zoom-js/zoom.js', async: true },
          { src: '../reveal.js-3.0.0/plugin/notes/notes.js', async: true },
          { src: '../reveal.js-3.0.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });

    </script>

  </body>
</html>
